/*
 * PahlitoMaker Basic Theme
 */
html, html * {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #474747;
}
body {
    background: #DFDFDF;
    text-align: center;
}
#page_wrapper {
    width: 1024px;
    margin: 0px auto;
    background: #FEFEFE;
    border-radius: 20px;
    box-shadow: 8px 8px 8px #888;
    padding: 10px;
}
#header {
    width: 100%;
    border-bottom: 2px #888 solid;
    padding-bottom: 5px;
    background: #EEE;
    border-radius: 10px 10px 0px 0px;
}
#logo {
    width: 400px;
    height: 96px;
    background: url(../assets/Header.png) 5px 5px no-repeat;
    padding: 5px;
}
#main_menu {
    padding: 0;
    list-style: none;
    float: left;
    margin: 0px auto;
}
#main_menu li {
    float: left;
    padding: 5px;
}
#menu_wrapper {
    margin: 0px auto;
    border-bottom: 2px #888 solid;
    background: #F8F8F8;
}
.clear {
    clear: both;
}
a.menu_item {
    color: #666;
    text-decoration: none;
}
a.menu_item:hover {
    text-decoration: underline;
}
#content_wrapper {
    padding: 10px;
}
.center {
    margin: 0px auto;
}
.error {
	font-size: small;
	color: red;
}
#footer {
    border-top: 2px #888 solid;
    padding: 10px;
    background: #EEE;
    border-radius: 0px 0px 10px 10px;
}
span.credits {
    color: #888;
}
span.credits a {
    color: #666;
    text-decoration: none;
}
span.credits a:hover {
    text-decoration: underline;
}
span.credits a:hover sup{
    text-decoration: none;
}